
div.go-top {
    position: fixed;
    bottom: 50px;
    right: 30px;
    cursor: pointer;
}
div.go-bottom {
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
}

body {
    background: none;
    padding-left: 15px;
    padding-right: 15px;
}
html {
    background: url(https://s1.1zoom.me/b5050/297/Canada_Mountains_Scenery_488936_3840x2400.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
